In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import FuncFormatter

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv(r'C:\Users\Mohamed Fawzi\Desktop\Iris Analysis\01_iris.csv')

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Inspecting Data:

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
# checking for null values
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [5]:
# checking for duplicates
df.duplicated().sum()

3

In [6]:
# dropping duplicates
df.drop_duplicates(inplace=True)

## Exploratory Data Analysis (EDA):

-   General Statistics Summary:

In [ ]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    147.000000   147.000000    147.000000   147.000000
mean       5.856463     3.055782      3.780272     1.208844
std        0.829100     0.437009      1.759111     0.757874
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

-   Species Specific Statistics:

In [ ]:
df.groupby('species').describe()

           sepal_length                                               \
                  count      mean       std  min  25%  50%  75%  max
species
setosa             48.0  5.010417  0.359219  4.3  4.8  5.0  5.2  5.8
versicolor         50.0  5.936000  0.516171  4.9  5.6  5.9  6.3  7.0
virginica          49.0  6.604082  0.632113  4.9  6.3  6.5  6.9  7.9

           sepal_width            ... petal_length      petal_width            \
                 count      mean  ...          75%  max       count      mean
species                           ...
setosa            48.0  3.431250  ...          1.6  1.9        48.0  0.250000
versicolor        50.0  2.770000  ...          4.6  5.1        50.0  1.326000
virginica         49.0  2.979592  ...          5.9  6.9        49.0  2.028571


                 std  min  25%  50%  75%  max
species
setosa      0.105185  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.276887  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]